<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" *ngIf="isLogged">
  <div class="navbar-brand" routerLink="/" id="clock"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#addNoteModal">Добавить заметку</button>
    <ul class="navbar-nav mr-auto">


    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o">
            <span *ngIf="categories.length > 0" class="badge badge-primary">{{totalNotesCount}}</span>
          </i>
          Категории
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div *ngFor="let category of categories" (click)="showNotesByCategory(category)" [class.selected-class]="category === selectedCategoryToView">
            <a class="dropdown-item">{{category.name}} ({{category.countOfNotes}})</a>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="showNotesByCategory(allCategories)">Все категории</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" type="submit" data-toggle="modal" data-target="#editCategoryModal">Редактировать...</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search" #key="ngModel" ngModel name="key">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchNote(key.value)">Поиск</button>
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="logout()">Выход</button>
    </form>
  </div>
</nav>
<div *ngIf="isLogged">
  <app-notes
    [category]="selectedCategoryToView"
    [notes]="notes"
    [categoriesList]="categories"></app-notes>
</div>

<!-- Modal Add notes -->
<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="noteAddModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNoteModalLabel">Создание заметки</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Название заметки:</label>
            <input type="text" ngModel="Без заголовка" name="name" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="description">Описание заметки:</label>
            <textarea rows="7" ngModel="" name="desc" class="form-control" id="description" required></textarea>
          </div>
          <div class="form-group">
            <label for="category" style="margin-right: 10px;">Категория:</label>
            <select id="category" ngModel="" name="category" required>
              <option *ngFor="let v of categories" [value]="v.name">
                {{v.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="favorite" style="margin-right: 10px;">Добавить в избранное: </label>
            <input id="favorite" type="checkbox" ngModel="" name="favorite" >
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Отмена</button>
            <button (click)="onCreateNote(editForm.value)" data-dismiss="modal" class="btn btn-primary"
                    [disabled]="!editForm.valid">Создать</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Edit category-->
<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCategoryModalLabel">Редактирование категорий</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm2="ngForm">
          <div *ngIf="categories.length > 0" class="form-group">
            <table border="1px">
              <th>Название</th>
              <th>Цвет стикера</th>
              <th>Количество заметок</th>
              <tr *ngFor="let cats of categories" (click)="selectCategory(cats)" [style.background-color]="selectedCategoryToEdit === cats ? '#cdeeef' : 'white'">
                <td>{{cats.name}}</td>
                <td [style.background-color]="cats.color" (click)="changeColor(cats)"></td>
                <td align="center">{{cats.countOfNotes}}</td>
              </tr>
            </table>
          </div>
          <div class="form-group">
            <label for="nameCat">Название категории:</label>
            <input type="text" ngModel="{{selectedCategoryToEdit?.name}}" name="nameCat" class="form-control" id="nameCat" required>
          </div>
          <div class="form-group">
            <label for="descriptionCat">Описание категории:</label>
            <textarea rows="3" ngModel="{{selectedCategoryToEdit?.description}}" name="descCat" class="form-control" id="descriptionCat"></textarea>
          </div>
          <input type="hidden" ngModel="{{selectedCategoryToEdit?.id}}" name="id" class="form-control" id="id">
          <input type="hidden" ngModel="{{selectedCategoryToEdit?.color}}" name="color" class="form-control" id="color">
          <input type="hidden" ngModel="{{selectedCategoryToEdit?.countOfNotes}}" name="count" class="form-control" id="count">
          <div class="modal-footer">
            <button *ngIf="selectedCategoryToEdit != null && categories.indexOf(selectedCategoryToEdit) != -1"
                    (click)="clearCategoryToDelete()" type="button" id="clearFields" data-dismiss="modal" class="btn btn-secondary">Снять выделение</button>
            <button [disabled]="selectedCategoryToEdit != null ? selectedCategoryToEdit.countOfNotes > 0 : true"
                        (click)="removeCategory()"
                        data-dismiss="modal" class="btn btn-danger">Удалить</button>
            <button type="button" id="cancelCats" data-dismiss="modal" class="btn btn-secondary">Отмена</button>
            <button *ngIf="selectedCategoryToEdit == null || categories.indexOf(selectedCategoryToEdit) == -1"
                    (click)="onCreateCategory(editForm2.value)"
                    [disabled]="!editForm2.valid" data-dismiss="modal" class="btn btn-primary">Создать</button>
            <button *ngIf="selectedCategoryToEdit != null && categories.indexOf(selectedCategoryToEdit) != -1"
                    (click)="onUpdateCategory(editForm2.value)"
                    [disabled]="!editForm2.valid" data-dismiss="modal" class="btn btn-primary">Обновить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Delete category-->
<div class="modal fade" id="deleteCategoryConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryConfirmModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCategoryConfirmModelLabel">Удаление заметки</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы действительно хотите удалить категорию "{{selectedCategoryToEdit?.name}}"?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
          <button (click)="onDeleteCategory(selectedCategoryToEdit?.id)" class="btn btn-danger" data-dismiss="modal">Да</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Change color-->
<div class="modal fade" id="changeColorModal" tabindex="-1" role="dialog" aria-labelledby="changeColorModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeColorModelLabel">Изменение цвета</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body align-self-center">
        <div class="colorPaletteContainer">
          <span [style.background]="selectedColor" [cpToggle]="true" [cpDialogDisplay]="'inline'"
                [(colorPicker)]="selectedColor"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button (click)="saveColor()"
                data-dismiss="modal" class="btn btn-primary">Изменить цвет</button>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<div class="beforeFooter">
  <br>
</div>
<footer class="footer position-absolute" *ngIf="isLogged">
  <div class="container">
    <br>
    <p class="text-muted">Project of Makarov Boris.</p>
  </div>
</footer>
</body>
